repos:
- repo: git://github.com/pre-commit/pre-commit-hooks
  rev: v1.2.3
  hooks:
    - id: check-added-large-files
    - id: check-docstring-first
    - id: check-merge-conflict
    - id: check-yaml
    - id: debug-statements
    - id: end-of-file-fixer
      exclude: CHANGELOG.md
    - id: flake8
    - id: name-tests-test
    - id: requirements-txt-fixer
    - id: trailing-whitespace
- repo: git://github.com/Yelp/detect-secrets
  rev: 0.9.1
  hooks:
    - id: detect-secrets
      args: ['--baseline', '.secrets.baseline']
      exclude: tests/.*
