callee==0.3.1
certifi==2024.7.4
chardet==5.1.0
docker==5.0.3
docker-pycreds==0.2.2
future==0.16.0
idna==2.6
ipaddress==1.0.19
python-dateutil==2.9.0
pytimeparse==1.1.8
requests==2.31.0
setuptools==68.0.0
six==1.11.0
urllib3==1.24.2
websocket-client==0.57.0
