Source: docker-custodian
Maintainer: Daniel Nephin <dnephin@yelp.com>
Build-Depends:
    dh-virtualenv,

Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Package: docker-custodian
Architecture: any
Description: Remove old Docker containers and images that are no longer in use
