#!/usr/bin/make -f
# -*- makefile -*-

export DH_OPTIONS

python3_runtime = python3.7

%:
	dh $@ --with python-virtualenv

override_dh_gencontrol:
	dh_gencontrol -- -VpythonRuntime:Depends="$(python3_runtime)"

override_dh_virtualenv:
	dh_virtualenv --python $(python3_runtime) --extra-pip-arg --only-binary=:all:

# do not call `make clean` as part of packaging
override_dh_auto_clean:
	true

# do not call `make` as part of packaging
override_dh_auto_build:
	true

override_dh_auto_test:
	true
