#!/usr/bin/make -f
# -*- makefile -*-

export DH_OPTIONS

ifeq ($(shell (. /etc/lsb-release && dpkg --compare-versions $$DISTRIB_RELEASE ge "24.04" && echo yes || echo no)),yes)
	python3_depends = python3.8, python3.8-distutils
	python3_runtime = python3.8
else ifeq ($(shell (. /etc/lsb-release && dpkg --compare-versions $$DISTRIB_RELEASE ge "22.04" && echo yes || echo no)),yes)
	python3_depends = python3.7
	python3_runtime = python3.7
endif

%:
	dh $@ --with python-virtualenv

override_dh_gencontrol:
	dh_gencontrol -- -VpythonRuntime:Depends="$(python3_depends)"

override_dh_virtualenv:
	dh_virtualenv --python $(python3_runtime) --preinstall=-rrequirements-bootstrap.txt --extra-pip-arg --only-binary=:all:

# do not call `make clean` as part of packaging
override_dh_auto_clean:
	true

# do not call `make` as part of packaging
override_dh_auto_build:
	true

override_dh_auto_test:
	true
